
.font-open-sans{
   font-family: 'Open Sans', sans-serif;
}

.btn-silver{
   background: rgb(232,232,232);
background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
}
.btn-silver:hover{
   background: rgb(214,214,214);
background: linear-gradient(180deg, rgba(214,214,214,1) 0%, rgba(242,242,242,1) 100%);
}
.pointer{
   cursor: pointer;
}
.text-big{
   font-size: 25px;
}

.h-250{
   min-height: 250px !important;
}

.h-100{
   min-height: 100px !important;
}
.h-200{
   min-height: 200px !important;
}


label{
   font-size: 14px;;
}
header{
   z-index: 999; 
}

.bg-primary{
   background: #3899EC !important;
}

.iframe-pc{
   border: none !important;
   position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;  border:none; margin:0; overflow:hidden; 
}

.iframe-mobile{ 
   margin: 0 auto;
   border: 1px solid #ccc;
   width:500px;
   position:fixed; top:0px; left:0px; bottom:0px; right:0px;  height:100%;  overflow:hidden; 
}
.hidden{
   display: none;
}

.showTop{
   position: fixed;
   right: 30px;
   top: 0px;
   z-index: 9999; 
}

.showTopStyle{
   background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); 
    font-size: 12px;
    border: 2px solid #eee;
    border-top: none;
    padding: 1px 10px;
    -webkit-border-bottom-right-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-bottomright: 5x;
   -moz-border-radius-bottomleft: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   cursor: pointer;
}

.left-navigator{ 
    width: auto;
    height: auto;
    z-index: 99;
    position: fixed;
    top: 50px;
    left: 0px; 
    padding: 0px 10px;
}

.left-navigator ul{
   margin: 0px;
   padding: 0px;
}

.left-navigator ul li{
   list-style: none;
   margin: 10px 0px;
}

 
 .myTooltipPrimary .tooltip-inner {
   background: #017BFF; 
   box-shadow: 5px 5px 15px #ccc;
 }
 .myTooltipPrimary .arrow::before {
   border-left-color: #017BFF;
   border-right-color:  #017BFF;
 }

 @media (min-width: 576px){
   .modal-dialog {
      max-width: 90%;
      margin: 1.75rem auto;
  }
 }


@media (min-width: 992px){
   .modal-lg, .modal-xl {
       width: 980px;
   }
}

input.form-upload {
    border: 1px solid #ccc;
    font-size: 13px;
    width: 100%;
}

td{
   padding: 5px 10px !important;
}


.form-control-url{
   display: inline-block;
   border: none;
   border-bottom: 1px solid #ccc;
   font-size: 13px;
   height: auto;
}

.img-100{
   width: 100%;
}