.header-text {
    font-size: 11px;
    font-weight: bold;
    /* color: #333; */
    text-transform: uppercase;
}

header{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
}

.mirrel5iframe{
    margin-top: 1px;
    background: rgb(241,243,244);
    font-weight: 400;
    color: #666;
 }
